[Desktop Entry]
Type=Application
Name=Azeo Windows Program Loader
Name[ar]=منظومة واين لتشغيل برامج وندوز
Name[cs]=Zavaděč programů pro Azeo
Name[de]=Azeo Windows-Programmstarter
Name[es]=Azeo - Cargador de programas de Windows
Name[lt]=Azeo Windows programų paleidyklė
Name[nl]=Azeo Windows programmalader
Name[sv]=Azeo Windows Programstartare
Name[ro]=Azeo - Încărcătorul de programe Windows
Name[ru]=Azeo - загрузчик Windows программ
Name[uk]=Azeo - завантажувач Windows програм
Name[fr]=Azeo - Chargeur de programmes Windows
Name[ca]=Azeo - Carregador d'aplicacions del Windows
Name[pt]=Carregador de aplicativos Windows Azeo
Name[pt_br]=Carregador de aplicativos Windows Azeo
Name[it]=Azeo Carica Programmi Windows
Name[da]=Azeo, Programstarter til Windows-programmer
Name[nb]=Azeo - for kjøring av Windows-programmer
Name[nn]=Azeo - for køyring av Windows-program
Name[sr]=Azeo - дизач Windows програма
Name[sr@latin]=Azeo - dizač Windows programa
Name[tr]=Azeo - Windows programı yükleyicisi
Name[hr]=Azeo - dizač Windows programa
Name[he]=Azeo — מריץ תכניות Windows
Name[ja]=Azeo Windowsプログラムローダー
Name[pl]=Azeo – uruchamianie programów Windows
Exec=azeo start /unix %f
MimeType=application/x-ms-dos-executable;application/x-msi;application/x-ms-shortcut;application/x-bat;application/x-mswinurl
Icon=azeo
NoDisplay=true
StartupNotify=true
